$headerBG: #e0d3cf;
$white: #ffffff;
$beige: #f4f2f2;
$grey: #ededed;
$dark: #161625;
$button: #e0d3cf;
$member1BG: #ccd5ae;
$member2BG: #f5ebe0;
$member3BG: #858f99;
$member4BG: #d09fa3;
$member5BG: #8d5d44;
